<div class="alert alert-warning" id="hintDiv">
   <a class="close" ng-click="close()">
      &times;
   </a>
   <strong>{{'not_consist_tip' | translate}}</strong>
</div>

<div class="container">
      <form class="form-signin">
        <h1 style="text-align:center;">{{'system_title' | translate}}</h1>
        
        <label for="inputUsername" class="sr-only">{{'system_username' | translate}}</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="{{'system_username' | translate}}" ng-model="username" required autofocus>
        
        <label for="inputPassword" class="sr-only">{{'system_password' | translate}}</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="{{'system_password' | translate}}" ng-model="password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">{{'system_login' | translate}}</button>
      </form>
</div>