<!DOCTYPE html>
<html lang="zh-CN" ng-app="frontend">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Questionaire Page</title>
    <link type="image/x-icon" href="../common/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="../common/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="../common/js/jquery.min.js"></script>
    <script src="../common/js/angular.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-controller="mainController">
    <div class="alert alert-warning" id="hintDiv">
       <a class="close" ng-click="close()">
          &times;
       </a>
       <strong>{{tip}}</strong>
    </div>
    <div class="questionaire">
      <div class="header">
      </div>
      <div class="container-box">
        <div class="part-head" style="text-align:center;" ng-if="!valid">
           <p style="font-size:30px;margin-top:20%;">404</p>
        </div>
        <div class="part-head" ng-if="!isStart && valid">
          <div class="subject">
            {{questionaire.subject}}
          </div>
          <div ng-show="questionaire.isProvicy == '1'" class="description" ng-bind-html="questionaire.description | to_html">
          </div>
          <div class="head-footer">
            <div style="text-align:left;" ng-show="questionaire.agree_fst">
              <input class="unchecked" ng-class='{"checked": formData.isAgree}' type="checkbox" ng-model="formData.isAgree" />
              <span>{{questionaire.agree_fst}}</span>
            </div>
            <div style="text-align:left;" ng-show="questionaire.agree_snd">
              <input class="unchecked" ng-class='{"checked": tmp.isAgree}' type="checkbox" ng-model="tmp.isAgree" />
              <span>{{questionaire.agree_snd}}</span>
            </div>
            <div style="text-align:center;margin-top: 100px;">
              <button style="width: 97px;" class="btn btn-info" ng-click="start()">Start</button>
            </div>
          </div>
        </div>
        <div class="content" ng-if="isStart && !isEnd && !isSubmit && !final">
          <label class="sort-number">第{{questionIndex + 1}}题</label>
          <div id="qt" class="title" ng-bind-html="questions[questionIndex].title | to_html">
          </div>
          <div class="option-single" ng-if="questions[questionIndex].isSingle == '1'">
            <div ng-repeat="option in questions[questionIndex].options">
              <div class="option" ng-if="!(option.isCustomized == '1')">
                  <input type="radio" class="uncheck" ng-class='{"check": option.isSelect}' ng-click="isSelect( option, questions[questionIndex].options)" name="question" value="{{option.content}}" ng-model="qs.answer">
                  <label class="op-text">{{option.content}}</label>
              </div>
              <div ng-if="option.isCustomized == '1'">
                <label>其它:</label>
                <input type="text" class="form-control cust-input option" ng-model="qs.custSingle" />
              </div>
            </div>
          </div>
          <div  class="option-multi" ng-if="!(questions[questionIndex].isSingle == '1')">
            <div ng-repeat="option in questions[questionIndex].options">
              <div class="option" ng-if="!(option.isCustomized == '1')">
                  <input type="checkbox" class="unchecked" ng-class='{"checked": option.checkflag}' ng-click="operate($event, option.content, option)">
                  <label class="op-text">{{option.content}}</label>
              </div>
              <div ng-if="option.isCustomized == '1'">
                <label>其它:</label>
                <input type="text" class="form-control cust-input option" ng-model="qs.answer" />
              </div>
            </div>
          </div>
          <div style="text-align:left;margin-top: 100px;">
            <button style="width:97px;" ng-if="questionIndex > 0" class="btn btn-default" ng-click="back()">Back</button>
            <button style="width:97px;margin-left:50px;" class="btn btn-info" ng-click="next()">Next</button>
          </div>
        </div>
        <div class="end" ng-if="isEnd">
          <div class="subject" style="margin-top: 20%;">
            {{questionaire.subject}}
          </div>
          <div class="tip">請點擊”SUBMIT”以完成問卷，謝謝。</div>
          <div style="text-align:center;margin-top: 100px;">
            <button style="width:97px;" class="btn btn-default" ng-click="return()">Back</button>
            <button style="width:97px;margin-left:50px;" class="btn btn-info" ng-click="submitBreak()">Submit</button>
          </div>
        </div>
        <div class="submit" ng-if="isSubmit">
          <div class="subject" style="margin-top: 10%;">
            {{questionaire.subject}}
          </div>
          <div class="tip" ng-if="questionaire.isProvicy != '1'">請點擊”SUBMIT”以完成問卷，謝謝。</div>
          <div style="margin: 21px 86px;" ng-if="questionaire.isProvicy == '1'">
            <div style="font-size:26px;">個人資料</div>
            <br/>
            <div>
                <label>請在下方表示你同意如此使用你的個人資料。如您未勾選同意，將使主辦機構及其委託的第三方公司群碩軟件開發（上海）有限公司無法與閣下聯繫，因此使得閣下亦無法參與相關之市場調查研究(包含焦點調查小組)。
                </label>
            </div>
            <div class="form-group">
                <label>姓名:</label>
                <input type="text" ng-model="formData.name" class="form-control">
            </div>
            <div class="form-group">
                <label>聯絡電話 (僅用作調查之聯絡，資料在調查完結後將被銷毀。):</label>
                <input type="text" ng-model="formData.mobile" class="form-control">
            </div>
            <div class="form-group">
                <label>電郵地址 (僅用作調查之聯絡，資料在調查完結後將被銷毀。):</label>
                <input type="email" ng-model="formData.email" class="form-control">
            </div>
            <div>
                <input type="checkbox" class="unchecked" ng-class='{"checked": formData.agree}' ng-model="formData.agree" />
                <label style="display:inline;">本人<input type="text" ng-model="formData.name" class="form-control" style="width:20%;display:inline-block;height:20px;">同意香港聯合利華有限公司及其委託的第三方公司群碩軟件開發（上海）有限公司使用個人資料於擬作出的問卷及市場調查研究(包含焦點調查小組)。
                </label>
            </div>
          </div>

          <div style="text-align:center;margin-top: 100px;">
            <button style="width:97px;" class="btn btn-default" ng-click="returnBack()">Back</button>
            <button style="width:97px;margin-left:50px;" class="btn btn-info" ng-click="submit()">Submit</button>
          </div>
        </div>

        <div class="end" ng-if="final">
          <div class="subject" style="margin-top: 20%;">
            已成功收到您回覆的表格。謝謝您寶貴的時間！
          </div>
        </div>
      </div>
    </div>
  </body>
</html>